.work {
  background-color: $color-primary;
  color: $color-white;
  padding: 100px 0 95px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gap-md;
  }
}

.work-item {
  display: flex;
  gap: $gap;

  &__description {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  &__numbers {
    font-weight: 500;
    font-size: 1.3rem;
  }

  &__image {
    order: -1;
  }
}
