.navbar {
  margin-bottom: 116px;

  &__list {
    display: flex;
    gap: $gap-lg;
  }

  &__link {
    letter-spacing: $letter-spacing;
    color: $color-black;
    padding: $gap-sm 3px $gap-sm 0;
  }

  &__link_active {
    font-size: 16px;
    color: $color-primary;
    font-weight: 500;
  }
}
