.footer {
  background-color: $color-primary;
  padding: 48px;
  color: $color-white;

  &__name {
    margin-bottom: $gap-sm;
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__copyright {
    font-size: 0.8rem;
    line-height: $line-height-lg;
  }
}
