@import 'colors/skin';
@import 'colors/variables';

@import 'mixins/mixins';

@import 'global/normalize';
@import 'global/basic';
@import 'global/typograph';

@import 'header/header';
@import 'header/navbar';
@import 'header/content';

@import 'footer/footer';

@import 'settings/section';
@import 'settings/about.scss';
@import 'settings/process.scss';
@import 'settings/video.scss';
@import 'settings/work.scss';

@media (max-width: 608px) {
  .container {
    width: 100%;
    padding-left: $gap-md;
    padding-right: $gap-md;
  }

  .header {
    padding-top: 40px;
    padding-bottom: 120px;
    background-color: #eeeff1;
  }

  .navbar {
    margin-bottom: 80px;
  }

  .navbar__list {
    flex-direction: row;
    gap: $gap-md;
  }

  .navbar__link {
    font-size: 12px;
  }

  .navbar__link_active {
    font-size: 13px;
    color: $color-primary;
    font-weight: 600;
  }

  .content__title {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .content__description {
    font-size: 16px;
    line-height: 1.5;
  }

  .content__link {
    min-width: 200px;
    min-height: 55px;
    font-size: 15px;
  }

  .section {
    padding-top: 85px;
    padding-bottom: 75px;
  }

  .section__title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .section_description {
    font-size: 15px;
    line-height: $line-height-lg;
    color: $color-secondary;
    text-align: center;
  }

  .work {
    background-color: $color-primary;
    color: $color-white;
    padding: 85px 0 80px;
  }

  .work__container {
    gap: $gap-md;
  }

  .work-item {
    gap: $gap-md;
    flex-direction: row;
    align-items: center;
  }

  .work-item__numbers {
    font-size: 1.2rem;
  }

  .work-item__image {
    margin-bottom: 15px;
  }

  .work-item__project {
    margin-bottom: 20px;
  }

  .video {
    padding-bottom: 75px;
  }

  .video__frame {
    height: 300px;
  }

  .footer {
    padding: 40px;
  }

  .footer__name {
    font-size: 1.2rem;
  }

  .footer__copyright {
    font-size: 0.8rem;
  }
}

@media (max-width: 465px) {
  .container {
    width: 100%;
    padding-left: $gap-sm;
    padding-right: $gap-sm;
  }

  .header {
    padding-top: 35px;
    padding-bottom: 100px;
    background-color: #eeeff1;
  }

  .navbar {
    margin-bottom: 70px;
  }

  .navbar__list {
    flex-direction: row;
    gap: $gap-sm;
  }

  .navbar__link {
    font-size: 10px;
  }

  .navbar__link_active {
    font-size: 11px;
    color: $color-primary;
    font-weight: 500;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    padding-left: $gap-sm;
    padding-right: $gap-sm;
  }

  .header {
    padding-top: 35px;
    padding-bottom: 100px;
    background-color: #eeeff1;
  }

  .navbar {
    margin-bottom: 70px;
  }

  .navbar__list {
    flex-direction: row;
    gap: $gap-sm;
  }

  .navbar__link {
    font-size: 10px;
  }

  .navbar__link_active {
    font-size: 11px;
    color: $color-primary;
    font-weight: 500;
  }

  .content__title {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  .content__description {
    font-size: 11.5px;
    line-height: 1.4;
  }

  .content__link {
    min-width: 180px;
    min-height: 50px;
    font-size: 13px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 65px;
  }

  .section__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .section_description {
    font-size: 11.5px;
    line-height: $line-height-lg;
    color: $color-secondary;
    text-align: center;
  }

  .work {
    background-color: $color-primary;
    color: $color-white;
    padding: 75px 0 70px;
  }

  .work__container {
    gap: $gap-sm;
  }

  .work-item {
    gap: $gap-sm;
    flex-direction: row;
    align-items: center;
  }

  .work-item__numbers {
    font-size: 1rem;
  }

  .work-item__image {
    margin-bottom: 10px;
  }

  .work-item__project {
    margin-bottom: 15px;
  }

  .video {
    padding-bottom: 65px;
  }

  .video__frame {
    height: 200px;
  }

  .footer {
    padding: 30px;
  }

  .footer__name {
    font-size: 1rem;
  }

  .footer__copyright {
    font-size: 0.7rem;
  }
}
